{% comment %} {% extends 'home/index.html' %}

{% block title %} Job Detail {% endblock title %}

{% block content %}

    <div >
        <!--Main layout-->
        <main class="mt-3 pt-4">
            <div class="container dark-grey-text">
            <div class="row wow fadeIn">
                <div class="card mb-3" style="height: fit-content; width:700px; overflow: auto; background-color: #f5f5f5; box-shadow: 0px 0px 1px #000000; padding: 10px 10px 10px 10px">
                    <div class="col">
                        <div>
                            <h3><b> {{ job.position }} </h3>
                            <h5><b> {{ job.company }}</b></h5>
                            <label><b>Username:</b> {{user.username}} &nbsp; &nbsp; </label>
                            <label><b>Company name:</b> {{user.apply_by}} &nbsp; &nbsp; </label>
                            <label><b>Email:</b> {{job.package}} &nbsp; &nbsp; </label> <br>
                            <label><b>{{job.job_type}}</b></label><br>
                            <label><b>About company:</b> {{job.about_company}}</label><br>
                            <label><b>Job description:</b> {{job.job_description}}</label><br>
                            <label><b>Eligibility:</b> {{job.eligibility}}</label><br>
                            <label><b>Perks:</b> {{job.perks}}</label><br>
                            <label><b>Openings:</b> {{job.openings}}</label><br>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <a href="" class="btn btn-success btn-md my-0 p">Back</a>
    </div>

{% endblock content %} {% endcomment %}