{% extends 'home/index.html' %}

{% block title %} Create Job {% endblock title %}

{% load crispy_forms_tags %}

{% block content %}

<div class="form">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group" style='width:600px'>
                        <legend class="border-bottom mb-4">Add Job</legend>
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-info" id="add" type="submit">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}